.image-text{
    color: black;
    background-color:  rgba(245, 245, 245, 0.616);
    font-size: large;
    font-weight: 500;
  }
  .image-title{
    color: black;
    font-weight: 700;
    font-size: large;
    background-color: rgba(245, 245, 245, 0.616);
    margin-left: 35%;
    margin-right: 35%;
  }
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    height: 50px;
    width: 50px;
    outline: none;
    background-size: 100%, 100%;
    border-radius: 50%;
    border: none;
    background-image: none;
  }

  .carousel-control-next-icon:after
  {
    content: '>';
    font-size: 55px;
    color: rgba(58, 58, 58, 0.678);
  }

  .carousel-control-prev-icon:after {
    content: '<';
    font-size: 55px;
    color: rgba(58, 58, 58, 0.678);
  }


